# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.pyc
.venv/
venv/
.mypy_cache/
.pytest_cache/

# Node
node_modules/
dist/
build/

# .NET
bin/
obj/
*.user

# Logs
*.log

# Misc
.env
.env.local
